.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Menu section */
.menu-category {
  margin: 3rem 0;
}

.menu-category h3 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #333;
}

.table-container {
  overflow-x: auto;
  margin: 1rem 0;
}

.menu-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-table th,
.menu-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ffbb00;
}

.menu-table th {
  background-color: #ffbb00;
  font-weight: bold;
  color: #333;
}

.menu-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.menu-table tr:hover {
  background-color: #fff3cd;
}
